/*
_________________________________________________________________

			RE-INITIALISATION DES TAGS HTML
	Pour éviter les valeurs par défaut différentes suivant les 
	navigateurs. Seuls les tags le plus	souvent utilisés et non 
	dépréciés sont pris en compte.
	Reset complet : http://meyerweb.com/eric/tools/css/reset/
__________________________________________________________________
*/
html, body, div, span, applet, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, img, strong, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
						 {
						     margin: 0;
						     padding: 0;
						     border: 0;
						     outline: 0;
						     font-size: 100%;
						     font-weight: normal;	
						     vertical-align: baseline;
						     background: transparent;
						 }
body
{
    line-height: 1;
}	
ol, ul
	{
	    list-style: none;
	}   	
/* 
__________________________________________________________________

				FEUILLE DE STYLES ORIGINALE
__________________________________________________________________ 
*/





h1, h2, h3
	    {
		font-weight: bold;
		margin: 1em 0;
	    }

h1
{
    font-size: 21px;
}


h2
{ 
    font-size: 18px; 
    border-bottom: 2px solid #FF9B37;
}
h3
{
    font-size: 15px;
    margin-left: 1em;
}

p
{ margin: 1em 0 1em 2em; }

strong
{ font-weight: bold; }

a
{
    font-weight: bold;
    text-decoration: none; 
    color: #ff9b37;
}

a:hover
      { text-decoration: underline; }	

.lienExterne
{
    background: url(images/lien_externe.gif) no-repeat right;
    padding-right: 20px;	
}

ul
{
    margin: 1em 0 1em 5em;
}
li
{
    background: url(images/puce.png) no-repeat;	
    padding-left: 16px;
}

#ulMenu
{
    margin: 0 0 2em 0;
}
#ulMenu ul
{
    margin: 0 0 0 3em;
}
#ulMenu li
{
    margin: 0.5em 0;
}

#bcUsers img
{
    height: 50px;
    width: 50px;
    margin: 0 14px;
}

#bcCompo
{
    position: relative;
    width: 410px;
    margin: 0 auto;
    height: 250px;
}
#imgReseau
{
    position: absolute;
    height: 124px;
    width: 167px;
    left: 0;
    top: 25px;
}
#imgLecteur
{
    position: absolute;
    height: 128px;
    width: 103px;
    left: 150px;
    top: 120px;
}	
#imgCalendrier
{
    position: absolute;
    height: 120px;
    width: 120px;
    left: 265px;
    top: 50px;
}
#imgAgenda
{
    position: absolute;
    height: 120px;
    width: 120px;
    left: 145px;
    top: 0px;		
}
#imgBandeau
{
    float: right;
    margin-right: -58px;	
    margin-left: 10px;
    border: solid 2px #8ABCFD;
    height: 315px;
    width: 96px;
}

#imgUSB1
{
    height: 117px;
    width: 120px;
    float: left;
    margin-top: -15px;
    margin-right: 5px;
}		
#imgUSB2
{
    height: 117px;
    width: 121px;
    float: right;
    margin-top: -15px;	
    margin-left: 5px;
}

#pied
{
    border-top: 2px solid #8ABCFD;
    margin: 2em 0 0 0;
    padding-top: 10px;
    text-align: center;
    position: relative;
    left: -10px;
    width: 800px;
}

.clear
{
    clear: both;	
}





/* ---------------------------------------------------------------
	FEUILLE DE STYLE ORIGINALE	
--------------------------------------------------------------- */
html
{
    height: 100%
}

#carnet
{
    position: relative;
    margin: 10px auto;
    width: 1030px;
}

body
{
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 13px;
    color: #404040;
    background: #9ac5e7 url(../images/fond.jpg);  	
}

p
{
    padding: 10px 5px;	
}

a
{
    color: #3c96f1;
    text-decoration: none;
}

a:hover
      {
	  text-decoration: underline;
      }

strong
{
    font-weight: bold;
}






/* ---------------------------------------------------------------
	BLOC ENTETE
--------------------------------------------------------------- */
header
{
    background: url(../images/tete.png) no-repeat; 
    height: 135px;
    position: relative;

}

#bcLogo
{
    background: url(../images/logo.png) no-repeat;
    width: 285px;
    height: 45px;
    
    position: absolute;
    top: 10px; 
    left: 30px;
}


#btnDeconnexion
{
    background: url(../images/deconnexion.png) no-repeat;
    height: 36px;
    width: 22px;
    position: absolute;
    right: 30px;
    top: 10px;

}


#bcOnglets
{ 
    position: absolute;
    left: 321px;
    top: 5px;

}

#bcOnglets a, #bcOnglets .off
	   {
	       text-decoration: none; 
	       text-align: center;
	       font: bold 16px Verdana;    
	       color: #757575; 
	       background: url(../images/onglet_off.png) no-repeat; 
	       float: left;
	       width: 158px;
	       height: 24px;
	       margin-right: 1px;
	       padding-top: 7px;
	   }

#bcOnglets a:hover
		 { 
		     color: #ff9b37;
		 }

#bcOnglets .off
{
    background: url(../images/onglet_on.png) no-repeat; 
    color: #ff9b37;
    height: 27px; 
}



/* ---------------------------------------------------------------
	BLOC PIED DE PAGE
--------------------------------------------------------------- */
footer
{
    float:left;
    position: relative;
    width: 100%;
    height: 156px;
    background: transparent url(../images/pied.png) no-repeat;
}


footer a
{
    position: relative;
    text-decoration: none; 
    font: 14px Verdana;    
    color: #404040; 
    background: transparent url(../images/fleche_pied.png) no-repeat;
    padding-left: 22px; /* TODO fleches pourries ! è_é */
    height: 22px;
}

#apropos
{
    position: relative;	
    left:200px;
    top: 55px;
}		

#confident
{
    position: relative;	
    left: 270px;
    top: 75px;
}

#conditions
{
    position: relative;	
    left: 380px;
    top: 90px;
}

#footer a:hover
{
    text-decoration: underline;
    color: #000; 
}

#copyright
{
    position: relative;
    font: 14px Verdana;    
    left: 790px;
    top: 35px;
}



/* ---------------------------------------------------------------
	BLOCS DE CONTENU
--------------------------------------------------------------- */



main
{
    float: left;
    width: 100%;
    min-height: 500px;
    padding: 0px 10px; /* TODO est-ce utile ? */

    background-image: url(../images/contenu.png);
    background-repeat: repeat-y;
}



main :first-child
	  {
	      margin-top: 0px;
	  }

#gauche
{
    position: absolute;
    float: left;	
    width: 250px;
    margin: 10px 10px;
}

/*
#bcCentre
{
    position: relative;
    display: block;
    margin-left: 250px;

} TODO
*/

#centre
{
    position: relative;
    margin: auto;
    width-min: 600px;
    width: 100%;
    height: 100%;
}

#droite
{
    float: left;
    position: relative;
    margin-left: 270px;
    width-min: 600px;
    height: auto;
}

#droite form
{
    margin: 10px 0px 10px 200px;
}

#droite form tr :first-child
{
    text-align: right;
}

#droite form tr td :first-child
			{
			    text-align: left;
			}

#droite > h2
{
    width: 500px;
    margin-left: 100px;

    color: black;
    border-bottom-color: black;
    
}


#centre p
{
    text-align: center;
}

form
{
    margin: auto;
    width: 500px;
}


#formInscription
{
    width: 400px;
}

.formModifCategorie
{
    background-color: red;
    width: 400px;
    height: 100px;
}

#formIdentification
{
    width: 225px;
}

/* boutons *//*
#centre input[type= submit], #centre input[type= reset], #droite input[type= submit],  #droite input[type= reset]
TODO
Tous les submits/reset identiques ? */
input[type= submit], input[type= reset]
											       {
												   margin: 2px;
												   background-color: #ff9b37;
												   color: white;
												   box-shadow: 0px 0px 1.5px #aaa;
												   border-radius: 5px;
											       }


#centre form tr :first-child
			    {
				text-align: right;
			    }

#centre form tr td :first-child
			       {
				   text-align: left;
			       }


/* ---------------------------------------------------------------
	BLOC CALENDRIER
--------------------------------------------------------------- */

#calendrier
{
    background-color: #FFFFFF;
    border: solid 2px #9ac5e7;
    width: 235px;
    text-align: center;
    padding: 1px;
    margin-bottom: 20px; 
}	

#calendrier table
{
    width: auto;
    margin: 10px auto;
    border-collapse: collapse;
}

#calendrier p
{
    background-color: #FFF;
    text-align: center;
    margin-bottom: 5px;
    padding: 10px;		
}

#calendrier td a
{
    display: block;
    width: 30px;
    height: 22px; 	
    padding-top: 7px;
    color: #000000;	
}

#calendrier a:hover
		  {
		      text-decoration: none;	
		  }

#calendrier a.lienJourHorsMois
{
    color: #999999;	
}

#calendrier th
{
    font-weight: bold;
    height: 20px;
}

#calendrier td
{
    border: solid 1px #000000;
    color: #000000;
} 

.flechegauche
{
    float: left;
    width: 20px;
    height: 20px;	
}

.flechedroite

{
    float: right;
    width: 20px;
    height: 20px;	
}

.aligncenter

{
    text-align:center;	
}

.jourCourant

{
    background-color: #5555FF;	
}

.semaineCourante

{
    background-color: #9ac5e7;
}

.aujourdHui

{
    background-color: #FF5555;
}


/* ---------------------------------------------------------------
	BLOC AFFICHAGE DES CATEGORIES
--------------------------------------------------------------- */

#categories

{
    background-color: #FFFFFF;
    border: solid 2px #9ac5e7;
    width: 235px;
    padding: 1px 1px 10px 1px;
}


#categories h3

{
    background-color: #9ac5e7;
    padding: 10px;
    margin: 0px 0px;
    font-weight: bold;
    font-size: 17px; 
    text-align: center;
}

#categories p

{
    margin: 0px 0px;
    padding: 10px 10px 5px 10px;	
}

#categories ul

{
    margin: 0px 0px;
    margin-bottom: 10px;
}

#categories li

{
    margin: 0px 0px;
    padding-top: 2px; 	
}	

.categorie_legende
{
    float: left; 
    margin: 0px 5px 0px 20px; 
    width: 10px; 
    height: 10px; 
}

.apercuCategorie
{
    margin: 2px 2px 2px 10px;
    padding: 2px 5px;
}


.modifierCategorie
{
    position: relative;
    width: 23px;
    height: 22px;
    margin: 2px 5px;

    background-image: url(../images/disquette.png);
    background-color: transparent;
}

.supprimerCategorie
{
    position: relative;
    margin: 2px 5px;
    width: 23px;
    height: 23px;
    background-image: url(../images/supprimer.png);
    background-color: transparent;
}

#confirmerSuppressionCategorie
{
    width: 500px;
    color: orange;
    border: 1px orange solid;
    
}



/* ---------------------------------------------------------------
	RENDEZ-VOUS ET EVENEMENTS
--------------------------------------------------------------- */

.rendezvous
{
    display: block;
    color: #000;
    font-size: 11px; 
    position: absolute; 
    margin: 1px; 
    padding: 2px 0px 0px 2px; 
    color: #000000;
    width: 104px; 							          
}


/* ---------------------------------------------------------------
	AGENDA
--------------------------------------------------------------- */
#titreAgenda
{
    text-align: center;
    width: 672px; 
    margin: 0 auto; 
    padding-left: 30px;
}

#agenda
{
    float: left;
    position: relative;
    margin: 0 auto 0px auto;
    width: 746px;
    height: auto;

} 

#agenda a
{
    color: #FFFFFF; 
    text-decoration: none;
    display: block;
    height: 40px; 
    background-color: transparent;
    border-bottom: dashed 1px #5555FF;	
}

/*
#agenda a.case-heure-bas
{
    border-bottom: none;
} TODO à mort
*/

#agenda a:hover
{ 
    color: #FFFFFF; 
    text-decoration: underline;
    background-color: #9ac5e7;
}

#horaire
{
    float: left;
    padding-top: 35px;
    width: 40px;
    height: auto;
}

#horaire p
{
    margin: 0 5px 29px 0;
    padding: 0 0 0 0;
    text-align: right;
}

.jour
{
    float: left;
    width: 96px;
    height: auto;

    border-top: solid 2px #5555FF; 
    border-left: solid 2px #5555FF; 
    border-bottom: solid 2px #5555FF;

}

.jourNom
{
    float: left;
    width: 98px;
    height: 30px;

    padding-top: 7px;
    text-align: center;
    font-weight: bold;
    
    color: white;
}

#jourEntete
{
    width: 688px;
    height: 30px;
    
    margin-left: 40px;
    margin-bottom: 10px;
    
    background-color: #5555FF;
}

.caseHeure
{
    width: 100%;
    height: 40px;
    
    border-bottom: dashed 2px #5555FF;
}

.caseHeure a
{
    width: auto;
    height: auto;
}

#agenda > div > a
{
    width:100%;
    height:100%;
    color:black;
}

#agenda > div > a:hover
		      {
			  color:black;
			  text-decoration:none;
			  background-color: transparent;
		      }

.jour :last-child
	   {
	       border-bottom: none;
	   }

#dimanche
{
    border-right: solid 2px #5555FF;
}


/*
#intersection
{ 
    float: left; 
    height: 15px; 
    width: 30px; 
}

#col-heures
{ 
    float: left;
    width: 30px;
}

#col-heures div
{ 
    height: 41px; 
    font-size: 9px; 
    right: 0px; 
    padding-right: 1px;
    text-align: right; 
}

.border-TRB
{	
    border-top: solid 2px #5555FF; 
    border-right: solid 2px #5555FF; 
    border-bottom: solid 2px #5555FF; 
}

.border-L
{ 
    border-left: solid 2px #5555FF; 
}

.lundi
{
    border-left: solid 2px #5555FF;

}


.lundi, .pas_lundi
{
    border-top: solid 2px #5555FF; 
    border-right: solid 2px #5555FF; 
    border-bottom: solid 2px #5555FF;
    background-color: #5555FF;
    
    float: left; 
    width: 112px; 
    height: 491px;  12 cases de 40px + 11 bordures de 1px 
    padding-top: 2px;
    text-align: center; 
    color: #FFF;

}


.col-jour
{
    margin-top: 1px;
    float: left; 
    width: 112px; 
}

.case-jour
{
    background-color: #5555FF;
    float: left; 
    width: 112px; 
    height: 20px; 
    padding-top: 2px;
    text-align: center; 
    color: #FFF;
}

*/